<IfModule mod_rewrite.c>
    RewriteEngine   On    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.(png|css|jpg|jpeg|gif|js|less|scss|eot|svg|ttf|otf|woff|ico)$
    RewriteRule ^(.*)$ index.php?url=$1 [PT,QSA,L]
</IfModule>