 #homepage-header {
	 width: 100%;
	 height: 80px;
	 background: #292639;
	 z-index: 1040;
	 opacity: 0;
	 position: fixed;

	 .SiteTitle {
		 line-height: 80px;
		 margin: 0px;
		 color: white;
		 font-size: 42px;
	 }
	 a.btn-alidade {
		 margin-top: 17px;
	 }
	}
	
.TechIcons {
	position: relative;
	top: -60px;
}

.slide-content {
	position: relative;
	z-index: 2;
}

.animation {
	background: #292639;
	background-size: auto;
	color: white;
	overflow: hidden; 
	
	.ProjectPaper {
		display: none;
	}

	.background { 
		position: fixed;
		left: 35%;

		
		top: 50%;
		transform: scale(0.75) translate(0,-70%);
		z-index: 1;
		
		@media screen and (min-width: 1400px){
			transform: scale(0.9) translate(-40px,-55%);
		}
		
		@media screen and (min-width: 1200px), (max-height: 1000px){
			left: 45%;
			transform: scale(0.75) translate(-50px,-70%);
		}

		.logo {
			height: 344px;
			width: 302px;
			opacity: 1;
			position: absolute;
			left: 0;
			bottom: 180px;
			transform: translate(40%,50%);

			&.pouff {
				opacity: 0;
			}
		}
		
		.app-icon-holder {
			margin-top: 100px;
		}

		.app-icon {
			width: 70px;
			height: 70px;
			position: absolute;
			overflow: hidden;
			transform: scale(1.3);

			&#app-icon-msg {
				left: 420px; top: 240px;
			}
			&#app-icon-map {
				left: 320px; top: 170px;
			}
			&#app-icon-dbm {
				left: 520px; top: 310px;
			}
		}

	}

	.contents {
		.transition(all 2s ease 0.5s);

		&.showtime {
			display: block;
			opacity: 1;
			padding-top: 60px;
		}

	}


	h1, h3, h4 {
		font-weight: 400;
		font-family: 'Oswald', sans-serif;
	}



	p, .SectionList {
		font-size: 20px; line-height: 36px;
		list-style: none;
		.checkmark {
			margin-right: 20px;
		}
	}

	.CTA {
		font-size: 30px;
	}

	.CTAdesc {
		font-family: "Lato", sans-serif;
		font-size: 20px;
		line-height: 1.3;
		margin-top: 20px;
	}

	.SectionList {
		li {
			font-family: "Lato", sans-serif;
			position: relative;
			&:after {
				content: '';
				background-image: url(/assets/images/hp/checkmark.png);
				position: absolute;
				top: 12px;
				left: 0;
				transform: translate(-200%,0);
				width: 18px;
				height: 14px;
			}
		}
	}


	h1 {
		font-size: 58px;

		span {
			display: block;
			font-size: 72px;
			line-height: 78px;
		}

	}
	
	.h3 {
		font-size: 30px;
		line-height: 48px;
		margin-top: 40px;
		font-weight: normal;
	}

	.h4 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 70px;
		margin-top: 30px;
		font-weight: normal;
	}


	.SectionTitle { font-size: 46px; line-height: 1.3; font-weight: normal; margin-bottom: 30px; }

	#slide-3 {
		.icon {
			display: inline-block;
			vertical-align: middle;
			position: relative;

			.arrow {
				position: absolute;
			}
		}

		.text-steps {
			margin: 40px 0;

			.text-step {

				opacity: 0;
				margin-bottom: 20px;

				&.text-step-1 {
					.arrow {
						top: 40%;
						left: 100%;
					}
					.number {
						margin-left: 80px;
					}
				}
				
				&.text-step-2 { 
					margin-left: 120px;
					.arrow {
						top: 92%;
						left: -15px;
					}
				}

				&.text-step-3 {
					margin-left: 70px;
					margin-top: 45px;
				}

				.number, .text {
					font-size: 20px;
					font-family: 'Oswald', sans-serif;
					display: inline-block;
					vertical-align: middle;
				}

				.number {
					width: 36px;
					height: 36px;
					line-height: 36px;
					text-align: center;
					margin: 22px 16px;
					.border-radius(18px);
					background: white;
					color: @header;
				}
			}


		}

	}


	.alidade-container {

		#spyglass-animate {
			opacity: 0;
			position: absolute;
			left: 20%;
			top: 60px;
			width: 630px;
			height: 630px;
			&.showtime {
				opacity: 1;
			}
		}

		.paper {
			width: 160px;
			height: 194px;
			position: absolute;
			opacity: 0;
			background: #EBE7E3;
			box-shadow: 0 5px 15px 0 #2D2B3C;
			-ms-transform: rotate(-8deg); /* IE 9 */
	 		-webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
			transform: rotate(-8deg);
			transform-origin: center center;
			overflow: hidden;
			padding: 12px;

			.checkrow {
				width: 100%;
				opacity: 0;
				margin-bottom: 20px;
				
				&.sideways {
					transform: translateX(40px);
				}

				svg {
					display: inline-block;
					vertical-align: middle;
					-ms-transform: rotate(8deg); /* IE 9 */
					-webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
					transform: rotate(8deg);
				}

				.BarHolder {
					display: inline-block;
					vertical-align: middle;
				}

				.bar {
					display: block;
					width: 82px;
					height: 7px;
					border-radius: 9px;
					background-color: #716f82;
					margin-bottom: 3px;
					margin-top: 3px;

					&:nth-child(odd){
						width: 102px;
					}
				}
			}

			&#paper-1 { left: 200px;  }
			&#paper-2 {
				left: 390px;

				.paper-contents {

					.PaperTitle {
						-ms-transform: rotate(7.5deg) translateY(-20px); /* IE 9 */
						-webkit-transform: rotate(7.5deg) translateY(-20px); /* Chrome, Safari, Opera */
						transform: rotate(7.5deg) translateY(-20px);
						height: 30px; 

						svg {
							width: 100%;
							position: absolute;
						}
					}

					opacity: 0;
					position: absolute;
					left: 15px;
					top: 0;
					width: 80%;
					transform: translateY(30px);

					svg {
						width: 40px;
						display: inline-block;
						vertical-align: middle;
					}

					.paragraph {
						clear: none;
						display: inline-block;
						width: 100%;
						&.paragraph-fl {
							width: 62%;
							vertical-align: middle;
						}
					}
					.line {
						width: 100%;
						background: #716F82;
						height: 5px;
						margin: 2px 0px;
						.border-radius(8px);
						&.line-lg { height: 8px; .border-radius(10px); }
						&.line-sh-1 { width: 75%; }
						&.line-sh-2 { width: 55%; }
						&.line-sh-3 { width: 30%; }
					}

				}
			}
			&#paper-3 { left: 580px; }

		}

	}
}


.lnk {
	color: @btn;
	text-decoration: underline;
	.transition(all 0.5s ease 0s);
	&.lnk-lg { font-size: 24px; }
	&:hover {
		color: @btn-on-hover;
	}
	&:active, &:visited {
		color: @btn-pressed;
	}
}
.box-1 {
	padding: 140px 15px 60px 15px;
	background-color: #EBE7E3;
	p {
		color: @text;
	}
	h2 { font-family: "Lato", sans-serif;
		a { color: @text;}
	}
	p { font-size: 24px; }
}
.carousel {
	background: #666471;
	padding-top: 110px;
	padding-bottom: 90px;
	color: white;

	.quote {
		font-size: 24px;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		line-height: 36px;
		padding: 0px 72px;
		position: relative;
		&:before {
			content: ' ';
			position: absolute;
			background: url('/assets/images/hp/quote.svg') no-repeat center center;
			left: -50px;
			top: -30px;
			width: 90px;
			height: 75px;
		}
	}
	.pointer {
		display: block;
		clear: both;
		//background: url('/assets/images/hp/FeedbackIconFooter.svg') no-repeat center center;
		border-top: 4px solid white;
		border-bottom: 0px;
		margin-left: 80px; margin-right: 80px;
		height: 4px;


		& ~ .point {
			display: block;
			margin: -45px auto 0px;
			content: ' ';
			border-right: 4px solid white;
			border-bottom: 4px solid white;
			-ms-transform: rotate(45deg); /* IE 9 */
	 		-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	 		transform: rotate(45deg);
			width: 40px; height: 40px;
			background-color: #666471;
		}
	}
	.quoter {
		width: 33.3333%;
		float: left;
		clear: none;
		margin-top: 40px;
		cursor: pointer;
		img {
			.scaler(0.6);
		}
		&.active img { .scaler(1); }
		.quoter-name {
			display: block;
			clear: both;
			font-weight: bold;
			font-size: 16px;
		}
	}
}
.who-made-this {
		background-color: @background;
		color: #3A3F41;
		padding-bottom: 60px;
		h2 {
			margin-top: 100px;
			margin-bottom: 40px;
			font-weight: 400;
			font-size: 48px;
			& ~ p {
				font-size: 24px;
				margin-bottom: 80px;
			}
		}
		img { max-width: 180px; }
		.col-md-4 {
			a:first-child{
				display: block;
				margin-bottom: 50px;
				height: 200px;

				& ~ img { margin-bottom: 60px; }

			}
      p {
        font-size: 24px;
        margin-bottom: 80px;
        margin-top: 50px;
      }
		}
}

.creators {
	background: #666471;
	color: white;
	padding-bottom: 60px;
  a {
    color: white;
    text-decoration: none;
    &:hover { text-decoration: white; }
  }
	h2 {
		margin-top: 100px;
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 48px;

	}
	.col-md-4 {
		img { margin-bottom: 20px; }
		img { max-width: 180px; }
		p {
			font-size: 30px;
			margin-bottom: 80px;
		}
	}

}
