.animation {
	background: #292639;
	background-size: auto;
	color: white;

	.background { position: fixed; left: 45%; top: 40px;  }

/** testing **/
// .row { border-top: 1px solid red; }

	.contents {
		.transition(all 2s ease 0.5s);

		&.showtime {
			display: block;
			opacity: 1;
			padding-top: 60px;
		}
		&.ninjad {
			opacity: 0.1;
			padding-top: 25%;
			margin-top: 25%;
		}

	}


	h1, h3, h4 {
		font-weight: 400;
		font-family: 'Oswald', sans-serif;
	}
	p { font-size: 20px; line-height: 36px;
		.checkmark {
			margin-right: 20px;
		}
	}
 	#intro {
		height: 100vh;

		h1 {
			font-size: 72px;
			margin-top: 80px;
			line-height: 78px;
			&:first-line {
				font-size: 58px;
			}
	 	}
		h3 {
			font-size: 30px;
			line-height: 48px;
			margin-top: 40px;
		}
		h4 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 70px;
			margin-top: 30px;
		}
	}

	#slide-2 {
		h1 { font-size: 42px; }
		height: 100vh;
	}

	#slide-3 {
		h1 { font-size: 42px; }
		height: 100vh;
	}
	#slide-4 {
		h1 { font-size: 42px; }
		height: 100vh;
	}


	.alidade-container {
		position: fixed;
		left: 50%;
		top: 0;
		width: 50%;
		height: 100vh;

		#animate-logo-1 {
			height: 344px;
			width: 302px;
			background: url('/assets/images/hp/alidade.png') no-repeat center center;
			.transition(all 2s ease 0);
			opacity: 1;
			position: absolute;
			left: 0;
			top: 430px;
			&.pouff {
				opacity: 0;
			}
		}
		#spyglass-animate {
			background: url('/assets/images/hp/alidade_magnifying-glass.png') no-repeat center center;
			.transition(all 3s ease 0);
			opacity: 0;
			position: absolute;
			left: 0;
			top: 10%;
			width: 630px;
			height: 630px;
			&.showtime {
				opacity: 1;
			}
		}
		.app-icon {
			width: 70px;
			height: 70px;
			position: absolute;
			background-size: 75% 75%;
			overflow: hidden;
			&#app-icon-msg {
				background: url('/assets/images/hp/tech1.svg') no-repeat center center;
				left: 220px; top: 240px;
				background-size: 75% 75%;
			}
			&#app-icon-map {
				background: url('/assets/images/hp/tech2.svg') no-repeat center center;
				left: 320px; top: 310px;
				background-size: 75% 75%;
			}
			&#app-icon-dbm {
				background: url('/assets/images/hp/tech3.svg') no-repeat center center;
				left: 420px; top: 380px;
				background-size: 75% 75%;
			}
		}

		.paper {
			width: 160px;
			height: 194px;
			position: absolute;
			opacity: 0;
			background: #EBE7E3;
			top: calc(100vh + 200px);
			box-shadow: 0 5px 15px 0 #2D2B3C;
			-ms-transform: rotate(-8deg); /* IE 9 */
	 		-webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
	 		transform: rotate(-8deg);

			.checkrow {
				width: 100%;
				height: 37px;
				opacity: 0;
				background: url(/assets/images/hp/check-row.png) no-repeat center top;
				-ms-transform: rotate(8deg); /* IE 9 */
		 		-webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
		 		transform: rotate(8deg);
				&.sideways {
					margin-left: 40px;
				}
			}

			&#paper-1 { left: 40px;  }
			&#paper-2 { left: 230px;

				.paper-contents {
					padding: 30px;
					.transition(all 2s ease 0.5s);

					&.showtime {
						display: block;
						opacity: 1;
					}
					&.ninjad {
						opacity: 0;
					}
					img { float: left; margin-right: 25px; }
					h2 { color: #343244; font-size: 36px; margin-top: 0px; margin-bottom: 30px;  }
					.paragraph {
						margin: 5px auto;
						float: left;
						clear: none;
						display: inline-block;
						width: 100%;
						&.paragraph-fl {
							width: 72%;
						}
					}
					.line {
						width: 100%;
						background: #716F82;
						height: 10px;
						margin: 6px 0px;
						.border-radius(5px);
						&.line-lg { height: 18px; .border-radius(9px); }
						&.line-sh-1 { width: 75%; }
						&.line-sh-2 { width: 55%; }
						&.line-sh-3 { width: 30%; }
					}

				}
			}
			&#paper-3 { left: 420px; }

		}

	}
}

.lnk {
	color: @btn;
	text-decoration: underline;
	.transition(all 0.5s ease 0s);
	&.lnk-lg { font-size: 24px; }
	&:hover {
		color: @btn-on-hover;
	}
	&:active, &:visited {
		color: @btn-pressed;
	}
}
.box-1 {
	padding: 60px 15px;
	h2 { font-family: "Lato", sans-serif;
		a { color: @text;}
	}
	p { font-size: 24px; }
}
.carousel {
	background: #666471;
	padding-top: 110px;
	padding-bottom: 90px;
	color: white;
	.quotes { }
	.quote {
		font-size: 24px;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		line-height: 36px;
		padding: 0px 72px;
		position: relative;
		&:before {
			content: ' ';
			position: absolute;
			background: url('/assets/images/hp/quote.svg') no-repeat center center;
			left: -50px;
			top: -30px;
			width: 90px;
			height: 75px;
		}
	}
	.pointer {
		display: block;
		clear: both;
		//background: url('/assets/images/hp/FeedbackIconFooter.svg') no-repeat center center;
		border-top: 4px solid white;
		border-bottom: 0px;
		margin-left: 80px; margin-right: 80px;
		height: 4px;


		& ~ .point {
			display: block;
			margin: -45px auto 0px;
			content: ' ';
			border-right: 4px solid white;
			border-bottom: 4px solid white;
			-ms-transform: rotate(45deg); /* IE 9 */
	 		-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	 		transform: rotate(45deg);
			width: 40px; height: 40px;
			background-color: #666471;
		}
	}
	.quoter {
		width: 33.3333%;
		float: left;
		clear: none;
		margin-top: 40px;
		cursor: pointer;
		img {
			.scaler(0.6);
		}
		&.active img { .scaler(1); }
		.quoter-name {
			display: block;
			clear: both;
			font-weight: bold;
			font-size: 16px;
		}
	}
}
.who-made-this {
		background-color: @background;
		color: #3A3F41;
		padding-bottom: 60px;
		h2 {
			margin-top: 100px;
			margin-bottom: 40px;
			font-weight: 400;
			font-size: 48px;
			& ~ p {
				font-size: 24px;
				margin-bottom: 80px;
			}
		}
		.col-md-4 {
			a:first-child{
				display: block;
				margin-bottom: 100px;
				height: 200px;

				& ~ img { margin-bottom: 60px; }
				& ~ p {
					font-size: 24px;
					margin-bottom: 80px;
				}
			}
		}
}

.creators {
	background: #666471;
	color: white;
	padding-bottom: 60px;
	h2 {
		margin-top: 100px;
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 48px;

	}
	.col-md-4 {
		img { margin-bottom: 20px; }
		p {
			font-size: 30px;
			margin-bottom: 80px;
		}
	}

}
