@import 'variables.less';
@import 'overwrite.less';
@import 'mixins.less';
@import 'elements.less';
@import 'header.less';
@import 'slide.less';
@import 'sidebar.less';
@import 'homepage.less';
@import 'rulesofthumb.less';
@import 'manage.less';

html, body {
	height: 100%;
	background: @background;
	color: @text;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

footer {
	background: @hp-footer;
	color: @white;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 16px;
	a {
		color: @white;
		text-decoration: underline;
	}
	.feedback {
		a { font-size: 20px; font-weight: bold; &:hover { color: white; } }
	}
	.icon {
		padding-right: 12px;
		width: 5%;
		& + div {
			width: 95%;
			margin-bottom: 30px;
		}
	}
	.rotate-45 { //feedback icon needs rotation
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transform: rotate(-45deg);
	}
	.logos {
		margin-top: 30px;
		font-weight: bold;
		font-size: 24px;
		text-align: right;
		vertical-align: middle;
		a {
			text-decoration: none;
			&:hover { text-decoration: underline; color: white; }
			.gh { margin-left: 30px; }
		}
	}
}


/** Projects page **/
.project-wrapper {
	background: @header;
	padding: 10px;
	width: 90%;
	margin: 15px 0px;
	min-height: 50px;
	float: left; clear: none;
	.project-bar {
		width: 100%;
		background: lighten(@header, 10%);
		position: relative;
		line-height: 30px;
		min-height: 30px;
		.project-progress {
			display: block;
			position: absolute;
			min-height: 30px;
			background: @btn;
			z-index: 10;
		}
		.project-title {
			position: absolute;
			z-index: 50;
			color: white;
			font-family: 'Oswald';
			font-size: 20px;
			font-weight: 400;
			padding: 0px 15px;
			width: 100%;
		}

	}
	& + .project-continue {
		width: 10%;
		margin: 15px 0px;
		line-height: 50px;
		color: white;
		text-align: center;
		background: @btn;
		float: left; clear: none;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-bottomright: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}
.project-deleter {
	cursor: pointer;
	position: absolute;
	left: -3px; top: -5px;
	width: 30px;
	height: 30px;
	background-color: #EBE7E3;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
	.border-radius(15px);
	i { font-size: 20px; width: 30px;text-align: center; line-height: 30px; }
}
