/** main colors **/
@oil:   #042a2b; //rgba(4, 42, 43, 100)
@sky:   #5eb1bf; //rgba(94, 177, 191, 100)
@sea:   #54f2f2; //rgba(84, 242, 242, 100)
@cream: #fcfcfc; //rgba(252, 252, 252, 100)
@gold:  #f4e04d; //rgba(244, 224, 77, 100)

/** gray shades **/
@dark:  dimgray;
@mid:   silver;
@lite:  gainsboro;

/** status color codes **/
@statusNo: gainsboro;
@statusGo: #a7c94b;
@statusWk: #EDFF71;

@lime: @statusGo;
@litelime: #D8EF9F;
@someotherblue: #209393;
@liteotherblue: #c7ecee;